
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root{
  --width-mobile:375px;
  --width-desktop:1440px;
  --color-primary1:Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --color-primary2:Red (input errors): hsl(0, 100%, 66%);
  
  --color-white: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --fs:18px;
  --fw:500;
  --ff:'Space+Grotesk',sans-serif;
}

*{
  overflow-x: hidden;
  margin: 0;padding: 0;
  box-sizing: border-box;

}
html{
  border: 2px solid blue;
  display: flex;
  justify-content: center; 
}

body{
  border: 2px solid red;
   width: var(--width-desktop);
  height: 100vh;
  display: flex;
  justify-content: center; 
}
main{
  display:grid;
  grid-template-columns: 426px 831px;
  position: relative;
}

section.left{
  width: 426px;
  height: 790px;
  /* border: 2px solid black; */
  background-image: url(./images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: relative;

}
.card1{
  position: absolute;
  background-image: url(./images/bg-card-front.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 163px;
  left: 145px;
  z-index:99;
  width: 390px;
  height: 212px;
  border-radius: 10px;
}
.card2{
  background-image: url(./images/bg-card-back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 405px;
  left: 225px;
  z-index:99;
  width: 390px;
  height: 212px;
  border-radius: 10px;
}
section.right{
  border: 2px solid green;
  height: 790px;
  width: 831px;
  background-color: var(--color-white);
}
.right-plus{
  border: 2px solid black;
  display: flex;
  flex-direction: column;

}
.name{
  
}
.number{

}
.date{
  
}



